@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root{
    --main-dark-bg-color: darkslateblue;
    --main-dark-font-color:white;
    --active : green;
    --rrTransValue : calc(50vw + 3rem);
    --rlTransValue : calc(-50vw - 3rem);
    --iconWidth:50vw;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:var(--main-dark-bg-color);
    height:100%;
    width:100%;
}
img{
    height: 4rem;
    width: 4rem;
    border-radius:50%;
}
.navbar{
    background-color: #0B7CED;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.navbar > a{
    text-decoration: none;
    font-size: 2em;
    color:rgb(81, 12, 128);

}
nav ul{
    display:flex;
    font-size: 1.3em;
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    padding: 15px;
    color:rgb(81, 12, 128);

}
section{
    text-align: center;
}
main{
    position:relative;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 3;

}
.player-info{
    color:var(--main-dark-font-color);
    display: flex;
    flex-direction:column;
    align-items: center;
}
.player-info h1{
    /* position:relative; */
    z-index:5;
    margin:2rem;
    font-size: 2.5em;
    font-weight:700;
}
.result{
    font-size: 2em;
    height:2.3rem;
    transition:500ms;
}

.scores{
    position:relative;
    display:flex;
    justify-content: space-between;
    border: 2px solid white;
    width: 10rem;
    padding:10px;
}

.score:first-of-type::after{
    font-family: 'Orbitron', sans-serif;
    content:":";
    position:absolute;
    right:-5px;
    top:60%;
    transform:translate(0,-50%);
    font-size:3em;
    font-weight:600;

}

input{
    margin-top: 1rem;
    height:2rem;
    background-color: rgba(0, 0, 0, .09);
    border:1px solid var(--main-dark-font-color);
    color:var(--main-dark-font-color);
    padding-left:5px;
    text-align: center;
    text-transform: uppercase;

}
.scores span{
    position:absolute;
    font-size:1.3em;
    top:-15px;
    left:50%;
    transform: translate(-50%);
    background-color:var(--main-dark-bg-color) ;
    padding: 0 3px;
    white-space: nowrap;
}
.score{
    position:relative;
    flex-wrap: none;
    flex-basis: 50%;
}
.score p:nth-child(2){
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
}

.gameplay{
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    color:var(--main-dark-font-color);
}
.icons{
    position:absolute;
    left:50%;
    top:50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
}
.hand-signs{
    display:flex;
    justify-content: center;
}
.icons img{
    height: 7rem;
    width: 7rem;
    margin:0 10px;
    flex-basis: 2rem;
    border-radius:50%;
    cursor:pointer;
    transition:500ms ease-in-out;
    background: coral;
}
.icons h1{
    color:var(--main-dark-font-color);
    font-size: 2.5em;
    margin-top:2rem;
}
.icons img:hover{
    height: 9rem;
    width: 9rem;
}

.clash{
    position:relative;
    display:block;
    width:100vw;
    height: 8rem;
    border:1px solid white;
    overflow:hidden;
}
.clash img{
    position:absolute;
    height:6rem;
    width:6rem;
    bottom:3px;
}
.clash img.bold{
    z-index: 1;
}
.clash img:nth-child(1){
    left:calc((6rem + 2px) * -1);  
}
.clash img:nth-child(2){
    right:calc((6rem + 2px) * -1);
}

.roll-right.active{
    animation-name: roll-right;
    animation-timing-function: ease-in-out;
    animation-duration: 4000ms;
    animation-fill-mode: both;
}
.roll-left.active{
    animation-name:roll-left;
    animation-timing-function: ease-in-out;
    animation-duration: 4000ms;
    animation-fill-mode: both;
}
.controls{
    display: flex;
    opacity: 1;
    transition: 500ms;
}
.controls.hidden{
    opacity:0;
    display:block;
}
.controls button{
    background-color:transparent;
    border:1px solid var(--main-dark-font-color);
    padding: 5px;
    color:var(--main-dark-font-color);
    margin: 0 .5rem;
    font-size: 1.5em;
    border:none;
    cursor:pointer;
    display:flex;
    align-items:center;
}
.controls svg{
    margin:5px;
}
.start-game{
    position:absolute;
    left:50%;
    top:60%;
    transform: translate(-50%,-50%);
    z-index: 5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.start-game img{
    border-radius: 10px;
    height:10rem;
    width:15rem;

}
.start-game button{
    margin:2rem 0;
    font-size:1.5em;
    background-color:transparent;
    color:var(--main-dark-font-color);
    border:1px white solid;
    padding:5px;
    cursor:pointer;
    transition:500ms;
}
.start-game button:hover{
    background-color: white;
    color:black;
}
.hidden{
    display:none;
}
.winner{
    font-size: 1.5em;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:var(--main-dark-font-color);
    z-index:5;
}


/* Animations */
@keyframes roll-right{
    from {
        transform: translateX(0) rotateX(0); 
    }
    to {
        transform:translateX(var(--rrTransValue)) rotate(3turn); 
    }
}
@keyframes roll-left{
    from {
        transform: translateX(0) rotateX(0); 
    }
    to {
        transform:translateX(var(--rlTransValue)) rotate(-3turn); 
    }
}

/* MEDIA QUERIES */
@media(max-width: 480px){
    .controls{
        font-size:.6em;
    }
    .hand-signs img{
        height: 6rem;
        width: 6rem;

    }
}